h1{
    color: brown;
    text-align: center;
}

form {
    width: 350px;
    margin: 50px auto;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: black;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: white;
}

input:focus {
    outline: none;
    border-color: brown;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: brown;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: red;
}
