<h1>All Students</h1>

@if (loading()) {
    <p class="messeage">Loading ....</p>
}@else if (error()) {
    <p class="messeage">{{error()}}</p>
}@else {
    <div class="per">
        <Table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (student of students(); track student.id) {
                    <tr>
                        <td>
                            {{student.id}}
                        </td>
                        <td>
                            {{student.firstName}}
                        </td>
                        <td>
                            {{student.lastName}}
                        </td>
                        <td>
                            {{student.email}}
                        </td>
                        <td>
                            <div class="but-per">
                                <button (click)="deleteStudent(student.id)">Delete</button>
                            </div>
                        </td>
                    </tr>
                }@empty {
                    <tr><td colspan="5" class="messeage">No Students Found</td></tr>
                }
            </tbody>
        </Table>
    </div>
}